{% if site.disqushandler && page.disqus != false %}
  <br/><br/><h3>Commentaires :</h3>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqushandler }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Veuillez activer JavaScript pour voir les <a href="https://disqus.com/?ref_noscript" rel="nofollow">commentaires gérés par Disqus.</a></noscript>
  <a href="https://disqus.com" class="dsq-brlink">commentaires gérés par <span class="logo-disqus">Disqus</span></a>
{% endif %}
